<div class="row">

    <!--<div class="col-xs-1 scroll-btn"id="scroll-left-btn" onclick="scrollItLeft();"></div> -->

    <div class="col-xs-12" id="wrapper-wrapper">
        <div id="wrapper" style="overflow-x:scroll"></div>
    </div>

    <!-- <div class="col-xs-1 scroll-btn" id="scroll-right-btn" onclick="scrollItRight();"></div> -->

</div>

<br>

<div class="row">

    <div class="col-xs-4 col-xs-offset-4">

        <div id='details-box-wrapper' class="alert alert-info">
            <p><b>Details</b><p>
            <div id='details-box'>

            </div>
        </div>

    </div>

</div>