<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>

        <div class="container">

            <div id="bump"></div>

            <div class="row">

                <div class="col-xs-12">

                    <div id="action-wrapper">
                        <p>Welcome to the prescribing semantics measurement tool.</p>
                        <a href="/study"><button class="btn btn-success">Enter</button></a>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>