<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>

        <div class="container">

            <div id="bump"></div>

            <div class="row">

                <div class="col-xs-12">

                    <div id="action-wrapper">
                        <p>Welcome to the prescribing semantics measurement tool.</p>

                        <form>
                            <input type="text" id="user"/>
                            <input type="text" id="secret"/>
                            <button class="btn btn-default" onclick="sendAuth();">Go</button>
                        </form>

                        <div class="panel panel-danger" id="error-box" style="display:none;">
                            <div class="panel-heading"><h3>Failed to authenticate</h3></div>
                            <div class="panel-body"><p id="message"></p></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script type="text/javascript">

            function showLoginFail(m){

                $("#error-box").show();

                $("#message").text(m);
            }

            function sendAuth(){


                var u = $("#user").val();
                var s = $("#secret").val();

                console.log("sendAuth("+u+","+s+")");

                //$.post("/auth", {user : user, secret : secret}, function(){
                $.post("/auth", {user : u, secret : s}, function(data, x, xhr){

                    console.log(data, x, xhr);

                    if(xhr.status === 200){
                        window.location = data.redirect;
                    }else if(xhr.status === 401){
                        showLoginFail(data.message);
                    }

                });
            }

        </script>
    </body>
</html>